In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import itertools
from tqdm import tqdm

import plotly.graph_objects as go

In [2]:
df = pd.read_excel("../data/Sorteios_Completo.xlsx")
df['sorteados_seq'] = df[['Bola 01','Bola 02','Bola 03','Bola 04','Bola 05','Bola 06','Bola 07','Bola 08','Bola 09','Bola 10','Bola 11','Bola 12','Bola 13','Bola 14','Bola 15']].values.tolist()

df.drop(['Bola 01','Bola 02','Bola 03','Bola 04','Bola 05','Bola 06','Bola 07','Bola 08','Bola 09','Bola 10','Bola 11','Bola 12','Bola 13','Bola 14','Bola 15','Id','Sorteado 01',
 'Sorteado 02',
 'Sorteado 03',
 'Sorteado 04',
 'Sorteado 05',
 'Sorteado 06',
 'Sorteado 07',
 'Sorteado 08',
 'Sorteado 09',
 'Sorteado 10',
 'Sorteado 11',
 'Sorteado 12',
 'Sorteado 13',
 'Sorteado 14',
 'Sorteado 15',
 'Arrecadação_Total',
 'Ganhadores 15 Números',
 'Ganhadores 14 Números',
 'Ganhadores 13 Números',
 'Ganhadores 12 Números',
 'Ganhadores 11 Números',
#  'Valor Rateio 15 Números',
#  'Valor Rateio 14 Números',
#  'Valor Rateio 13 Números',
#  'Valor Rateio 12 Números',
#  'Valor Rateio 11 Números',
 'Acumulado 15 Números',
 'Estimativa Prêmio',
 'Valor Acumulado Especial',
 'Local 15 Números'], axis=1, inplace=True)


df.head()

,Concurso,Data Sorteio,Valor Rateio 15 Números,Valor Rateio 14 Números,Valor Rateio 13 Números,Valor Rateio 12 Números,Valor Rateio 11 Números,sorteados_seq
0,1,2003-09-29,49765.82,689.84,10.0,4,2.0,"[2, 3, 5, 6, 9, 10, 11, 13, 14, 16, 18, 20, 23..."
1,2,2003-10-06,596323.70,1388.95,10.0,4,2.0,"[1, 4, 5, 6, 7, 9, 11, 12, 13, 15, 16, 19, 20,..."
2,3,2003-10-13,400623.70,2173.36,10.0,4,2.0,"[1, 4, 6, 7, 8, 9, 10, 11, 12, 14, 16, 17, 20,..."
3,4,2003-10-20,902226.02,1498.72,10.0,4,2.0,"[1, 2, 4, 5, 8, 10, 12, 13, 16, 17, 18, 19, 23..."
4,5,2003-10-27,380017.55,687.49,10.0,4,2.0,"[1, 2, 4, 8, 9, 11, 12, 13, 15, 16, 19, 20, 23..."

In [3]:
sorteios = df.sorteados_seq
sorteios

0       [2, 3, 5, 6, 9, 10, 11, 13, 14, 16, 18, 20, 23...
1       [1, 4, 5, 6, 7, 9, 11, 12, 13, 15, 16, 19, 20,...
2       [1, 4, 6, 7, 8, 9, 10, 11, 12, 14, 16, 17, 20,...
3       [1, 2, 4, 5, 8, 10, 12, 13, 16, 17, 18, 19, 23...
4       [1, 2, 4, 8, 9, 11, 12, 13, 15, 16, 19, 20, 23...
                              ...
2775    [1, 2, 4, 5, 8, 12, 13, 14, 15, 17, 18, 19, 20...
2776    [3, 6, 7, 8, 9, 11, 12, 13, 14, 15, 17, 20, 21...
2777    [1, 4, 5, 6, 9, 10, 11, 12, 13, 15, 18, 19, 20...
2778    [1, 2, 6, 7, 8, 9, 10, 11, 12, 15, 18, 20, 21,...
2779    [3, 4, 7, 9, 10, 11, 13, 14, 17, 19, 20, 21, 2...
Name: sorteados_seq, Length: 2780, dtype: object

In [10]:
combinacoes11sorteadas = pd.DataFrame(columns = ['combinacao','quantidade'])
for idxs, sorteio in enumerate(sorteios):
    b=[]
    for a in itertools.combinations(sorteio, 11):
        b.append(a)
    for idx, subset in enumerate(b):
        print(f'Combinação {idx:4d}/1365 - Sorteio {idxs:4d}/2780', end='\r')
        if combinacoes11sorteadas[combinacoes11sorteadas['combinacao'].isin([subset])].empty:
            combinacoes11sorteadas.loc[len(combinacoes11sorteadas)] = [subset, 1]
        else:
            combinacoes11sorteadas.loc[combinacoes11sorteadas[combinacoes11sorteadas['combinacao'] == subset].index[0],'quantidade'] += 1

KeyboardInterrupt:

In [ ]:
import string
import random
combinacoes11sorteadas = pd.DataFrame(columns = ['combinacao','quantidade'])
for i in range(10):
    combinacoes11sorteadas.loc[len(combinacoes11sorteadas)] = [random.choice(string.ascii_lowercase), i+1]
combinacoes11sorteadas

In [ ]:
combinacoes11sorteadas[combinacoes11sorteadas['combinacao'].isin(['u'])].empty

In [ ]:
combinacoes11sorteadas[combinacoes11sorteadas['combinacao'] == 'k'].index[0]

In [ ]:
combinacoes11sorteadas.loc[combinacoes11sorteadas[combinacoes11sorteadas['combinacao'] == 'k'].index[0],'quantidade'] += 1

In [8]:
b = []
for a in itertools.combinations(range(1,16), 11):
    b.append(a)

len(b)

1365