In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import itertools
from tqdm import tqdm

import plotly.graph_objects as go

import numpy as np
import time
import random

In [3]:
df = pd.read_excel("../data/Sorteios_Completo.xlsx")
df['sorteados_seq'] = df[['Bola 01','Bola 02','Bola 03','Bola 04','Bola 05','Bola 06','Bola 07','Bola 08','Bola 09','Bola 10','Bola 11','Bola 12','Bola 13','Bola 14','Bola 15']].values.tolist()

df.drop(['Bola 01','Bola 02','Bola 03','Bola 04','Bola 05','Bola 06','Bola 07','Bola 08','Bola 09','Bola 10','Bola 11','Bola 12','Bola 13','Bola 14','Bola 15','Id','Sorteado 01',
 'Sorteado 02',
 'Sorteado 03',
 'Sorteado 04',
 'Sorteado 05',
 'Sorteado 06',
 'Sorteado 07',
 'Sorteado 08',
 'Sorteado 09',
 'Sorteado 10',
 'Sorteado 11',
 'Sorteado 12',
 'Sorteado 13',
 'Sorteado 14',
 'Sorteado 15',
 'Arrecadação_Total',
 'Ganhadores 15 Números',
 'Ganhadores 14 Números',
 'Ganhadores 13 Números',
 'Ganhadores 12 Números',
 'Ganhadores 11 Números',
#  'Valor Rateio 15 Números',
#  'Valor Rateio 14 Números',
#  'Valor Rateio 13 Números',
#  'Valor Rateio 12 Números',
#  'Valor Rateio 11 Números',
 'Acumulado 15 Números',
 'Estimativa Prêmio',
 'Valor Acumulado Especial',
 'Local 15 Números'], axis=1, inplace=True)


df.head()

,Concurso,Data Sorteio,Valor Rateio 15 Números,Valor Rateio 14 Números,Valor Rateio 13 Números,Valor Rateio 12 Números,Valor Rateio 11 Números,sorteados_seq
0,1,2003-09-29,49765.82,689.84,10.0,4,2.0,"[2, 3, 5, 6, 9, 10, 11, 13, 14, 16, 18, 20, 23..."
1,2,2003-10-06,596323.70,1388.95,10.0,4,2.0,"[1, 4, 5, 6, 7, 9, 11, 12, 13, 15, 16, 19, 20,..."
2,3,2003-10-13,400623.70,2173.36,10.0,4,2.0,"[1, 4, 6, 7, 8, 9, 10, 11, 12, 14, 16, 17, 20,..."
3,4,2003-10-20,902226.02,1498.72,10.0,4,2.0,"[1, 2, 4, 5, 8, 10, 12, 13, 16, 17, 18, 19, 23..."
4,5,2003-10-27,380017.55,687.49,10.0,4,2.0,"[1, 2, 4, 8, 9, 11, 12, 13, 15, 16, 19, 20, 23..."

In [8]:
concursos = list(df['Concurso'].unique())
jogosSelecionados = []
ganhosSelecionados = []
allSelecionados = []
# proximoJogo = [0]
ganho = 0
gasto = 0
ac11 = 0
ac12 = 0
ac13 = 0
ac14 = 0
ac15 = 0
rendimento = 0
rendimento_max = 0
for i in range(100):
    print(i)
    gasto = 0
    ganho = 0
    proximoJogo = list(np.sort(random.sample(range(1,26), 15)))
    # print(proximoJogo)
    for concurso in concursos:        
        idx = df.index[df['Concurso'] == concurso].tolist()[0]
        gasto += 1
        acertos = 0
        for bola in df.loc[idx, "sorteados_seq"]:
            if bola in proximoJogo:
                acertos += 1
        if acertos > 10:
            coluna = f"Valor Rateio {str(acertos)} Números"
            ganho += df.loc[idx, coluna]
            if acertos == 11:
                ac11 += 1
            if acertos == 12:
                ac12 += 1
            if acertos == 13:
                ac13 += 1
            if acertos == 14:
                ac14 += 1
            if acertos == 15:
                ac15 += 1
    rendimento = (ganho/gasto)-1
    rendimento_max = max(rendimento, rendimento_max)
    print(f'{rendimento} {rendimento_max:.2f}.')
    if (rendimento) > 1:
        jogosSelecionados.append(proximoJogo)
        ganhosSelecionados.append(ganho, [ac11, ac12, ac13, ac14, ac15])
        
        # print(f'Testei {i} combinações e encontrei essa que parece boa: {proximoJogo}')
        # print(f'Ganho total: R$ {ganho:.2f}. Gasto total: R$ {gasto:.2f}. Rendimento de {(ganho/gasto)-1:.2%}                     ')
        # print(f'11 acertos: {ac11}')
        # print(f'12 acertos: {ac12}')
        # print(f'13 acertos: {ac13}')
        # print(f'14 acertos: {ac14}')
        # print(f'15 acertos: {ac15}')
        # break
allSelecionados = [jogosSelecionados, ganhosSelecionados]

0
-0.5241007194244605 0.00.
1
-0.4870503597122302 0.00.
2
-0.5300359712230216 0.00.
3
1.0085215827338128 1.01.

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
allSelecionados

In [ ]:
ganho

In [1]:
cartoesbons = [
    [2, 5, 8, 10, 11, 13, 14, 15, 16, 19, 20, 21, 23, 24, 25],
    [1, 2, 3, 4, 6, 12, 13, 14, 15, 17, 18, 22, 23, 24, 25],
    [1, 2, 3, 4, 6, 12, 13, 14, 15, 17, 18, 22, 23, 24, 25]]

In [2]:
listaSorteio = [3,4,5,7,8,10,14,15,16,17,18,20,23,24,25]

In [4]:

for proximoJogo in cartoesbons:
    acertos = 0
    for i in proximoJogo:
        print(f'{i:2.0f}', end=' -> ')
        if i in listaSorteio:
            print("=)")
            acertos += 1
        else:
            print("")
    print(f'Acertos: {acertos}')

 2 ->
 5 -> =)
 8 -> =)
10 -> =)
11 ->
13 ->
14 -> =)
15 -> =)
16 -> =)
19 ->
20 -> =)
21 ->
23 -> =)
24 -> =)
25 -> =)
Acertos: 10
 1 ->
 2 ->
 3 -> =)
 4 -> =)
 6 ->
12 ->
13 ->
14 -> =)
15 -> =)
17 -> =)
18 -> =)
22 ->
23 -> =)
24 -> =)
25 -> =)
Acertos: 9
 1 ->
 2 ->
 3 -> =)
 4 -> =)
 6 ->
12 ->
13 ->
14 -> =)
15 -> =)
17 -> =)
18 -> =)
22 ->
23 -> =)
24 -> =)
25 -> =)
Acertos: 9